---
layout: default
---

<p>
  <h3>PHIL 212: Sex, Death & Outlaws</h3>
  <h5>Spring 2018 - Towson University </h5>
  This seminar introduces students to conceptual issues in
  evolutionary biology. Some of the issues discussed in this seminar
  include: How does natural selection explain the evolution of
  complexity? What are organisms? What is the role of chance in
  evolution? How can altruism evolve by natural selection?
  <a href="schedule-phil212.html">View schedule &raquo</a> &nbsp; 
  <a href="{{ '/assets/syllabus_s18_phil212.pdf' | relative_url }}">View syllabus &raquo</a>
</p>

<hr>

<p>
  <h3>PHIL 255: Environmental Ethics</h3>
  <h5>Spring 2018 - Towson University </h5>
  This course examines the moral obligations humans might have towards
  present and future generations, and to the non-human environment,
  including other species and ecosystems. <a href="schedule-phil255.html">View schedule &raquo</a> &nbsp;
  <a href="{{ site.baseurl }}/assets/syllabus_s18_phil255.pdf">View syllabus &raquo</a>
</p>

