---
layout: default
---

<div id="outline-container-orgaa71110" class="outline-2">
<h2 id="orgaa71110">Presentation</h2>
<div class="outline-text-2" id="text-orgaa71110">
<p>
Each student will be required to give one oral presentation and submit
a two page summary of the presentation. Prior to the presentation, the
student must meet with the instructor during office hours, and bring
an outline of the presentation. The starting point of the presentation
will be one of the essays selected by the student.
</p>
</div>

<div id="outline-container-org610d9dd" class="outline-3">
<h3 id="org610d9dd">Presentation format</h3>
<div class="outline-text-3" id="text-org610d9dd">
<p>
The oral presentation is expected to last for about 25 minutes, and it
should include the following components:
</p>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-right" />

<col  class="org-left" />
</colgroup>
<thead>
<tr>
<th scope="col" class="org-right">Time (in minutes)</th>
<th scope="col" class="org-left">Component</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-right">3-5</td>
<td class="org-left">Motivate the topic.</td>
</tr>

<tr>
<td class="org-right">5-10</td>
<td class="org-left">Explain the main points of the essay.</td>
</tr>

<tr>
<td class="org-right">5-10</td>
<td class="org-left">Connect the essay with the module's topic based on the student's research.</td>
</tr>

<tr>
<td class="org-right">5-10</td>
<td class="org-left">Lead a discussion.</td>
</tr>
</tbody>
</table>

<p>
If you intend to include a video in your presentation, including
YouTube videos, you should receive prior authorization from the
instructor.
</p>
</div>
</div>

<div id="outline-container-org6d27748" class="outline-3">
<h3 id="org6d27748">Presentation rubric</h3>
<div class="outline-text-3" id="text-org6d27748">
<p>
Your presentation grade will be based on the following criteria:
</p>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-right" />

<col  class="org-left" />
</colgroup>
<thead>
<tr>
<th scope="col" class="org-right">Points (in %)</th>
<th scope="col" class="org-left">Criteria</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-right">25</td>
<td class="org-left"><b>Office hours visit</b>: The student brought an outline and is prepared to discuss the presentation.</td>
</tr>

<tr>
<td class="org-right">15</td>
<td class="org-left"><b>Statement of the problem</b>: The student clearly explains and motivates the problem that the presentation addresses.</td>
</tr>

<tr>
<td class="org-right">15</td>
<td class="org-left"><b>Exposition</b>: The student provides a clear and accurate summary of the essay.</td>
</tr>

<tr>
<td class="org-right">15</td>
<td class="org-left"><b>Evaluation</b>: The student connects the essay with the module's topic, and successfully incorporate her/his research into the presentation.</td>
</tr>

<tr>
<td class="org-right">10</td>
<td class="org-left"><b>Discussion</b>: Student facilitates a fruitful discussion with their peers.</td>
</tr>

<tr>
<td class="org-right">20</td>
<td class="org-left"><b>Overall quality</b>: The presentation is long enough. The presentation has a clear organizational structure. The student seems prepared.</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
