---
layout: default
---

<div id="outline-container-org1f126a7" class="outline-2">
<h2 id="org1f126a7">Grading rubric for papers</h2>
<div class="outline-text-2" id="text-org1f126a7">
<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-right" />

<col  class="org-left" />
</colgroup>
<thead>
<tr>
<th scope="col" class="org-right">Points (in %)</th>
<th scope="col" class="org-left">Criteria</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-right">15</td>
<td class="org-left"><b>Peer-review</b>: See grading rubric below.</td>
</tr>

<tr>
<td class="org-right">15</td>
<td class="org-left"><b>Set up of problem</b>: Early in the paper, there is a detailed explanation of the issue to be addressed in the paper. Additionally, the author’s position on this issue is stated clearly and in explicit detail.</td>
</tr>

<tr>
<td class="org-right">20</td>
<td class="org-left"><b>Use of sources</b>: The author discusses and makes use of sources that are relevant to the topic at hand; quotations are not excessively long, and they are integrated fluidly into the author's prose.</td>
</tr>

<tr>
<td class="org-right">20</td>
<td class="org-left"><b>Defense of position</b>:  The author presents rationally supported reasons for the position defended in the paper; the author’s arguments are expressed with clarity and precision; plausible objections are considered and discussed.</td>
</tr>

<tr>
<td class="org-right">20</td>
<td class="org-left"><b>Organization</b>: The paper has a coherent, logical "flow"; the reader can always tell what any one section or paragraph is meant to accomplish; there are no unnecessary tangents and no "filler" or "fluff."</td>
</tr>

<tr>
<td class="org-right">10</td>
<td class="org-left"><b>Writing quality</b>: Grammatical, spelling, or other writing mistakes are close to non-existent; claims are stated with precision rather than vagueness.</td>
</tr>
</tbody>
</table>
</div>
</div>



<div id="outline-container-orgac04dcf" class="outline-2">
<h2 id="orgac04dcf">Grading rubric for peer-reviews</h2>
<div class="outline-text-2" id="text-orgac04dcf">
<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-right" />

<col  class="org-left" />
</colgroup>
<thead>
<tr>
<th scope="col" class="org-right">Points (in %)</th>
<th scope="col" class="org-left">Criteria</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-right">40</td>
<td class="org-left">The student wrote the paper and brought two copies to class.</td>
</tr>

<tr>
<td class="org-right">60</td>
<td class="org-left">Provided peers with specific, constructive written feedback.</td>
</tr>
</tbody>
</table>
</div>
</div>
