---
layout: course-schedule
title: Environmental Ethics
abbrev: PHIL 255 - Spring 2018
accordion: true
---

<p>
  <h3> Module 1: Introduction to Ethics</h3>
  <div id="accordion">
    {% capture my_include %}{% include phil255_s18_module1.md %}{%
    endcapture %} {{ my_include | markdownify }}
    <br>
    <h3> Module 2: Global Poverty </h3>
    {% capture my_include %}{% include phil255_s18_module2.md %}{%
    endcapture %} {{ my_include | markdownify }}
    <br>
    <h3> Module 3: The Problem of the Commons </h3>
    {% capture my_include %}{% include phil255_s18_module3.md %}{%
    endcapture %} {{ my_include | markdownify }}
    <br>
    <h3> Module 4: Animal Welfare </h3>
    {% capture my_include %}{% include phil255_s18_module4.md %}{%
    endcapture %} {{ my_include | markdownify }}
    <br>
    <h3> Module 5: Wilderness Preservation </h3>
    {% capture my_include %}{% include phil255_s18_module5.md %}{%
    endcapture %} {{ my_include | markdownify }}
  </div>
</p>
