---
layout: course-schedule
title: Sex, Death & Outlaws
abbrev: PHIL 212 - Spring 2018
accordion: true
---

<p>
  <h3> Module 1: The Engines of Evolution</h3>
  <div id="accordion">
    {% capture my_include %}{% include phil212_s18_module1.md %}{%
    endcapture %} {{ my_include | markdownify }}
    <br>
    <h3> Module 2: Evolution as Tinkering</h3>
    <div id="accordion">
      {% capture my_include %}{% include phil212_s18_module2.md %}{%
      endcapture %} {{ my_include | markdownify }}
    </div>
    <br>
    <h3> Module 3: What Are Organisms?</h3>
    <div id="accordion">
      {% capture my_include %}{% include phil212_s18_module3.md %}{%
      endcapture %} {{ my_include | markdownify }}
    </div>
    <br>
    <h3> Module 4: Living in Groups</h3>
    <div id="accordion">
      {% capture my_include %}{% include phil212_s18_module4.md %}{%
      endcapture %} {{ my_include | markdownify }}
    </div>
</p>
