<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 $( function() {
   $( "#accordion" ).accordion({
     collapsible: true, <!-- whether all sections can be closed at once -->
     active: false, <!-- which panel is currently open. Starts from 0 -->
     disabled: false,
     heightStyle:"content",
     header: "h1"
   });
 } );
</script>