<footer>
  <p><small>Hosted on <a href="https://about.gitlab.com/features/pages/" target="_blank">GitLab Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a></small></p>
</footer>