<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- width-device-width causes the width of the page to follow the secree-width -->
  <!--  initial-scale controls the zoon level when the page is first loaded-->

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% if page.accordion %}
  {% include accordion.html %}
  {% endif %}
</head>