@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}


h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 8px;
}

h1, h2, h3 {
    line-height:1.1;
}

h3, h4, h5, h6 {
    color:#494949;
}

h1 {
    font-size:26px;
}

h2 {
    color:#393939;
}

p, ul, ol, table, pre, dl {
    margin:0 0 20px;
}

li p {
    -webkit-margin-after: .4em;
    -webkit-margin-before: .4em;
    font-size: 100%;
    color:#494949;
    font-weight:bold;
}

ol, ul {
    -webkit-padding-start: 25px;
}

ul ul {
    list-style-type: disc;
}

th, td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5;
}

dt {
    color:#444;
    font-weight:700;
}

th {
    color:#444;
}

img {
    max-width:100%;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

strong {
    color:#222;
    font-weight:700;
    font-size: 16px;
}

small {
    font-size:11px;
}

a {
    color:#267CB9;
    text-decoration:none;
}

// brute force override jquery css
.ui-widget-content a {
    color:#155677 !important; 	// jquery default is black
}

a:hover, a:focus {
    //    color:#267CB9;
    // #069;
    //font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}


section {
    width:500px;
    float:right;
    padding-bottom:50px;
}

// Header appearance

header {
    width:270px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:15px;
  padding:5px;
  // background: #f4f4f4;
  // border-radius:2px;
  // border:1px solid #e0e0e0;
  width:270px;
}

header li {
    width:89px;
    float:left;
    height:20px;
}

header li:first-child a {
    border-radius:5px 0 0 5px;
}

header li:last-child a {
    border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:16px;
  color:#494949; //#676767;
  display:block;
  font-weight: bold;
  text-align:left;
  padding-top:8px;
  height:34px;
}

header ul a:hover, header ul a:focus {
    color:#267CB9;
    // #675C5C;
    font-weight:bold;
}

header ul a:active {
  background-color:#f0f0f0;
}

header ul li + li + li {
    border-right:none;
    width:89px;
}

// Footer appearance

footer a {
    color: #727272;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

//@media stuff

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
      border:1px solid #898994;
      // #e5e5e5;
      border-width:1px 0;
      padding:5px 0;
      margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

p.thicker {
    font-weight: 500;
    font-size: 14px;
}

@media print, screen and (max-width: 720px) {
    body {
	word-wrap:break-word;
    }

    header {
	padding:0;
    }

    header ul, header p.view {
	position:static;
    }

    pre, code {
	word-wrap:normal;
    }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
