<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body>
    <div class="wrapper">
      <header>
	<h2>Course Schedule</h2>
	<h3>	{{ page.title }} </h3>
	<h4> {{ page.abbrev }}</h4>
	<!-- <p class="thicker"> Instructor: {{ site.instructor  }}</p> -->
      </header>
      <section>
	<a href="{{ site.baseurl }}/">&laquo; Back</a>
	<!-- onclick="window.history.back()" -->

	{{ content }}

	<em><b>Note:</b> Towson University Students need to enter their
	  Towson ID in order to access most of the readings linked on
	  this page. </em>
      </section>

      {% include footer.html %}
      
    </div>
  </body>
</html>