<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1>	</a>
	<p class="thicker"> Instructor: <a href="http://makmiller.appspot.com/" style="color:#727272"> {{ site.instructor }}</a> </p>
      </header>
      <section>

	{{ content }}

      </section>

      {% include footer.html %}
      
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    {% if site.google_analytics %}
    {% include google-analytics.html %}
    {% endif %}

  </body>
</html>
